In [1]:
import pandas as pd

In [3]:
df=pd.read_csv("Student_performance.csv")

In [4]:
df.head()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,Yes,9,1,91.0
1,4,82,No,4,2,65.0
2,8,51,Yes,7,2,45.0
3,5,52,Yes,5,2,36.0
4,7,75,No,8,5,66.0

In [5]:
df.tail()

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
9995,1,49,Yes,4,2,23.0
9996,7,64,Yes,8,5,58.0
9997,6,83,Yes,8,5,74.0
9998,9,97,Yes,7,0,95.0
9999,7,74,No,8,1,64.0

In [6]:
df.describe()

,Hours Studied,Previous Scores,Sleep Hours,Sample Question Papers Practiced,Performance Index
count,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000
mean,4.992900,69.445700,6.530600,4.583300,55.224800
std,2.589309,17.343152,1.695863,2.867348,19.212558
min,1.000000,40.000000,4.000000,0.000000,10.000000
25%,3.000000,54.000000,5.000000,2.000000,40.000000
50%,5.000000,69.000000,7.000000,5.000000,55.000000
75%,7.000000,85.000000,8.000000,7.000000,71.000000
max,9.000000,99.000000,9.000000,9.000000,100.000000

In [8]:
df.isnull().sum() #check null before making model

Hours Studied                       0
Previous Scores                     0
Extracurricular Activities          0
Sleep Hours                         0
Sample Question Papers Practiced    0
Performance Index                   0
dtype: int64

In [ ]:
df.dtypes # for extra currical activites we need to convert object to numeric so machine can understand it

Hours Studied                         int64
Previous Scores                       int64
Extracurricular Activities           object
Sleep Hours                           int64
Sample Question Papers Practiced      int64
Performance Index                   float64
dtype: object

In [12]:
from sklearn.preprocessing import LabelEncoder,StandardScaler

In [15]:
le=LabelEncoder()
le.fit_transform(df["Extracurricular Activities"])

array([1, 0, 1, ..., 1, 1, 0], shape=(10000,))

In [16]:
df["Extracurricular Activities"]=le.fit_transform(df["Extracurricular Activities"])

In [17]:
df

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced,Performance Index
0,7,99,1,9,1,91.0
1,4,82,0,4,2,65.0
2,8,51,1,7,2,45.0
3,5,52,1,5,2,36.0
4,7,75,0,8,5,66.0
...,...,...,...,...,...,...
9995,1,49,1,4,2,23.0
9996,7,64,1,8,5,58.0
9997,6,83,1,8,5,74.0
9998,9,97,1,7,0,95.0
9999,7,74,0,8,1,64.0

In [18]:
df.columns

Index(['Hours Studied', 'Previous Scores', 'Extracurricular Activities',
       'Sleep Hours', 'Sample Question Papers Practiced', 'Performance Index'],
      dtype='object')

In [19]:
x=df[['Hours Studied', 'Previous Scores', 'Extracurricular Activities','Sleep Hours', 'Sample Question Papers Practiced']]
y=df[['Performance Index']]

In [20]:
x

,Hours Studied,Previous Scores,Extracurricular Activities,Sleep Hours,Sample Question Papers Practiced
0,7,99,1,9,1
1,4,82,0,4,2
2,8,51,1,7,2
3,5,52,1,5,2
4,7,75,0,8,5
...,...,...,...,...,...
9995,1,49,1,4,2
9996,7,64,1,8,5
9997,6,83,1,8,5
9998,9,97,1,7,0
9999,7,74,0,8,1

In [21]:
y

      Performance Index
0                  91.0
1                  65.0
2                  45.0
3                  36.0
4                  66.0
...                 ...
9995               23.0
9996               58.0
9997               74.0
9998               95.0
9999               64.0

[10000 rows x 1 columns]

In [22]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [30]:
y_train

      Performance Index
8397               38.0
8016               56.0
7579               69.0
715                50.0
3795               81.0
...                 ...
6145               33.0
9408               68.0
4493               74.0
9859               35.0
9008               87.0

[8000 rows x 1 columns]

In [31]:
y_test

      Performance Index
4675               71.0
7193               64.0
4927               31.0
5457               68.0
4366               27.0
...                 ...
5706               27.0
9978               72.0
4600               70.0
4061               44.0
4063               71.0

[2000 rows x 1 columns]

In [34]:
std=StandardScaler()
X_train_std=std.fit_transform(x_train)
X_test_std=std.fit_transform(x_test)

In [37]:
from sklearn.linear_model import LinearRegression
import pickle
from sklearn.metrics import mean_squared_error,r2_score,mean_absolute_error

In [ ]:
model=LinearRegression()
model.fit(X_train_std,y_train)

LinearRegression()

In [39]:
model.predict(X_test_std)

array([[69.41509101],
       [63.32931122],
       [32.60082731],
       ...,
       [75.20111287],
       [43.12039167],
       [67.80385214]], shape=(2000, 1))

In [40]:
y_pred=model.predict(X_test_std)

In [41]:
mean_absolute_error(y_test,y_pred)

1.6337166755425991

In [42]:
mean_squared_error(y_test,y_pred)

4.245252610509642

In [43]:
r2_score(y_test,y_pred)

0.9883745375541187

In [44]:
with open("student_lr_final_model.pkl",'wb') as file:
    pickle.dump((model,std,le),file)